
{% extends 'basic.html' %}
{% block title%} BroCoders - About{% endblock %}

{% block body %}
<!-- //Domain modal -->
<section class="w3l-breadcrumb py-5">
  <div class="container">
    <h6 class="sub-title">Sub title</h5>
      <div class="header-section">
        <h3>About Us</h3>
        <p>BroCoders was a blog site where you get latest blogs about related to Education, Business and Entertainment.</p>
      </div>
  </div>
</section>
<!-- about -->
<!-- author section -->
<section id="author" class="w3l-author py-5">
  <div class="container py-lg-3">
      <div class="row align-items-center">
          <div class="col-lg-3 col-sm-4 col-7 order-first">
              <div class="author-image">
                  <img src="static/images/ram.jpeg" alt="" class="img-fluid">
              </div>
          </div>
          <div class="col-lg-9 col-sm-12 order-md-first mt-lg-0 mt-4">
              <span class="category">Founder</span>
              <h2 class="mt-2 mb-3 title">Hello!! I'm Ram Swami </h2>
              <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam beatae, assumenda ab voluptates maxime non iusto ullam aut veniam
                  reiciendis neque autem at earum ea nam <a href="#url">this is the url link</a> quam quae sed quis iste alias. Adipisci, itaque!
                  Voluptatum aliquid rem deleniti? Accusantium inventore eaque odio vero hic officia? Lorem, ipsum dolor sit amet consectetur
                  adipisicing elit. Velit, maiores?
              </p>
              <ul class="author-icons mt-4">
                  <li><a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a> </li>
                  <li><a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                  <li><a class="google" href="#url"><span class="fa fa-google-plus" aria-hidden="true"></span></a></li>
                  <li><a class="linkedin" href="#url"><span class="fa fa-linkedin" aria-hidden="true"></span></a></li>
                  <li><a class="github" href="#url"><span class="fa fa-github" aria-hidden="true"></span></a></li>
                  <li><a class="dribbble" href="#url"><span class="fa fa-dribbble" aria-hidden="true"></span></a></li>
              </ul>
          </div>
      </div>
  </div>
</section>
<section id="author" class="w3l-author py-5">
  <div class="container py-lg-3">
      <div class="row align-items-center">
          <div class="col-lg-9 col-sm-12 order-md-first mt-lg-0 mt-4">
              <span class="category">Co-Founder</span>
              <h2 class="mt-2 mb-3 title">Hello!! I'm Pradeep Saini </h2>
              <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam beatae, assumenda ab voluptates maxime non iusto ullam aut veniam
                  reiciendis neque autem at earum ea nam <a href="#url">this is the url link</a> quam quae sed quis iste alias. Adipisci, itaque!
                  Voluptatum aliquid rem deleniti? Accusantium inventore eaque odio vero hic officia? Lorem, ipsum dolor sit amet consectetur
                  adipisicing elit. Velit, maiores?
              </p>
              <ul class="author-icons mt-4">
                  <li><a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a> </li>
                  <li><a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                  <li><a class="google" href="#url"><span class="fa fa-google-plus" aria-hidden="true"></span></a></li>
                  <li><a class="linkedin" href="#url"><span class="fa fa-linkedin" aria-hidden="true"></span></a></li>
                  <li><a class="github" href="#url"><span class="fa fa-github" aria-hidden="true"></span></a></li>
                  <li><a class="dribbble" href="#url"><span class="fa fa-dribbble" aria-hidden="true"></span></a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-sm-4 col-7 order-first">
            <div class="author-image">
                <img src="static/images/pradeep.jpg" alt="" class="img-fluid">
            </div>
        </div>
      </div>
  </div>
</section>
<section class="w3l-products py-5" id="projects">
  <div class="container py-lg-3">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <!--Horizontal Tab-->
        <div id="parentHorizontalTab">
          <div class="resp-tabs-container">
            <div class="products-content">
              <div class="row">
                <a href="#blog-single.html" class="col-lg-4 bg-color-three mt-lg-0 mt-0">
                  <div class="blog-article-post d-flex flex-wrap align-content-between">
                    <div class="post-content">
                      <img src="static/images/arpita.jpeg" alt=" " class="img-fluid">
                      <h4 class="blog_post_title my-2">I'm Arpita</h4>
                      <ul class="author-date mb-3 d-flex align-items-center">
                        <li>@ <b>Content Writer</b></li>
                      </ul>
                    </div>
                    <div class="read-button mt-2">
                      <span class="fa fa-linkedin-square" aria-hidden="true"></span>
                      <span class="fa fa-github-square" aria-hidden="true"></span>
                      <span class="fa fa-instagram" aria-hidden="true"></span>
                    </div>
                  </div>
                </a>
                <a href="#blog-single.html" class="col-lg-4 bg-color-three mt-lg-0 mt-5">
                  <div class="blog-article-post d-flex flex-wrap align-content-between">
                    <div class="post-content">
                      <img src="static/images/ipsita.png" alt=" " class="img-fluid">
                      <h4 class="blog_post_title my-2">I'm Ipsita</h4>
                      <ul class="author-date mb-3 d-flex align-items-center">
                        <li>@ <b>Content Writer</b></li>
                      </ul>
                    </div>
                    <div class="read-button mt-2">
                      <span class="fa fa-linkedin-square" aria-hidden="true"></span>
                      <span class="fa fa-github-square" aria-hidden="true"></span>
                      <span class="fa fa-instagram" aria-hidden="true"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //author section -->
<!-- subscribe form -->
<section class="w3l-subscribe">
  <div class="main-w3 py-5">
    <div class="container py-lg-3">
      <div class="grids-forms text-center">
        <div class="row">
          <div class="col-md-12">
            <span class="fa fa-envelope mb-3" aria-hidden="true"></span>
            <div class="header-section text-center">
              <h3>Keep up to date - Get Email updates</h3>
              <p>Get our latest news straight into your inbox</p>
            </div>
          </div>
        </div>
        <div class="row mt-md-5 mt-4">
          <div class="col-lg-7 col-md-9 mx-auto main-midd-2">
            <form action="#" method="post" class="rightside-form">
              <input type="email" name="email" placeholder="Input your e-mail" required>
              <button type="submit" class="btn btn-primary theme-button">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //subscribe form -->
 {% endblock %}